<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="jiraConnections" type="DataAccess.RestServices.JiraConnectionConfig.JiraConnectionsSection, DataAccess"
				 requirePermission="false"/>
		<section name="restServices" type="DataAccess.RestServices.RestServiceConfig.RestServicesSection, DataAccess" 
				 requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="NumberOfTopBlockingIssues" value="10"/>
		<add key="BaseLinkFormat" value="https://telenor-ose.atlassian.net/browse/{0}"/>
	</appSettings>
	<jiraConnections>
		<connections>
			<add name="jiraConnection" baseUrl="https://telenor-ose.atlassian.net/rest/api/2/"
				 login="jirareport" password="FghQ79vpt$1DD6@9"/>
		</connections>
	</jiraConnections>
	<restServices>
		<services>
			<add name="GetIssueStatus" url="issue/{issueKey}/?fields=status" endPointName="jiraConnection"/>
		</services>
	</restServices>
</configuration>